.contact {
  background-image: url('../../assets/sao.jpg');
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .background {
    width: 500px;
    height: 600px;
    border-radius: 20px;

    .container {
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.4);
      .heading {
        font-size: 50px;
        color: white;
        text-align: center;
      }
      ul {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        .input-text {
          height: 200px;
          text-align: justify;
          padding-top: 0;
          top: 5px;
          left: 5px;
        }
        textarea {
          width: 380px;
          font-size: 30px;
          font-weight: 700;
        }

        input {
          height: 50px;
          width: 380px;
          border-radius: 10px;
          font-size: 30px;
          border: none;
          font-weight: 700;
        }

        .btn {
          cursor: pointer;
          border-radius: 10px;
          width: 400px;
          font-size: 30px;
          background-color: burlywood;
          border: none;
          font-weight: 700;
        }
      }
    }
  }
}
